html {
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

body {
  background-color: $color-black;
  color: $color-white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  line-height: 1.5;
  margin: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  * {
    &:focus-visible {
      outline: baseline(.25) solid $color-red !important;
      outline-offset: baseline(.5) !important;
      border-radius: baseline(.5);
    }
  }
}

p,
.paragraph,
ul,
ol,
dl,
dd,
table {
  margin: 0 0 baseline(2);
}

figure {
  margin: 0;
}

ul,
ol {
  padding-left: baseline(2.5);

  ul,
  ol {
    margin-bottom: 0;
  }
}

p > .button {
  margin-top: baseline(6);
}

hr {
  background-color: $color-background;
  border: 0;
  display: block;
  height: 1px;
  margin: baseline(5) 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

figcaption {
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

code {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 90%;
  padding: 0.1rem 0.3rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}

tr {
  background-color: $color-grey-light;

  &:nth-child(even) {
    background-color: $color-background;
  }

  thead + tbody & {
    background-color: $color-background;

    &:nth-child(even) {
      background-color: $color-grey-light;
    }
  }

  .friendation:not(.backgroundDefault) & {
    background-color: $color-background;

    &:nth-child(even) {
      background-color: $color-grey-light;
    }
  }
}

td,
th {
  padding: 1.25rem;
  text-align: inherit;
  vertical-align: top;
}

th {
  background-color: $color-background;

  .friendation:not(.backgroundDefault) & {
    background-color: $color-background;
  }

  thead & {
    box-shadow: inset 0 -2px 0 0 $color-text; // because border doesn't work correctly with position: sticky
    vertical-align: bottom;
    // white-space: nowrap; // use instead of vertical-align: bottom if needed
  }

  tbody & {
    box-shadow: inset -2px 0 0 0 $color-text; // because border doesn't work correctly with position: sticky
  }
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: inherit;
}

form {
  margin: 0;
}
