// baseline
$baseline: 8px;

@function baseline($value) {
  $result: 0;

  // define baseline function
  @if type-of($value) == 'number' {
    // is pixel value
    @if is-number($value) and index('px', unit($value)) != null {
      $result: $baseline * round(math.div($value, $baseline));
    }

    // is integer
    @else {
      $result: $baseline * $value;
    }
  } @else {
    @error 'Type error: "#{$value}" is not a number!';
  }

  @return $result;
}

$gutter-width: baseline(4);

// breakpoints
$breakpoint-mobile-horizontal: 512px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-wide: 1440px;

// max-widths
$pagewrapper-width: 2560px;
$container-max-width: 1200px;
$content-max-width: 768px;

// container-padding (horizontal)
$container-padding-mobile: 32px;
$container-padding-tablet: 48px;
$container-padding-desktop: 64px;

// component-spacing (vertical)
$component-spacing-mobile: 64px;
$component-spacing-tablet: 80px;
$component-spacing-desktop: 136px;

// Reduced component spacing (vertical), used for single posts template
$component-spacing-mobile-constricted: $component-spacing-mobile * 0.5;
$component-spacing-tablet-constricted: $component-spacing-tablet * 0.5;
$component-spacing-desktop-constricted: $component-spacing-desktop * 0.5;

// colors
$color-grey: #ccc;
$color-grey-dark: #222;
$color-grey-medium: #707070;
$color-grey-light: #fafafa;
$color-white: #fff;
$color-red: #ff4c44;
$color-green: #75d35f;
$color-purple-dark: #292c3a;
$color-black: #000;
// →
$code-box-background: $color-black;
$color-text: $color-purple-dark;
$color-background: #f8f8fa;

// box-shadow
$box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
$box-shadow-light: 0 15px 20px rgba(0, 0, 0, 0.05);

// border-radius
$border-radius: baseline(1);

// font-weights
$font-weight-normal: #{'400'}; // 400
$font-weight-medium: #{'500'}; // 500 - 600
$font-weight-bold: #{'700'}; // 700 - 900

// Transitions & animations
$transition-duration: 0.25s;
$transition-timing-function: ease-in-out;
$animation-duration: 1s;
$animation-timing-function: ease-in-out;
